{% extends 'base.html' %}

<!-- 제목 블록 Start (기본값 My Blog Page) -->
{% block title %}
My Album Detail Page
{% endblock %}
<!-- 제목 블록 End -->

<!-- 스타일 블록 Start -->
{% block extra-style %}
<style>
    .photo-card {
        margin-bottom: 30px;
        box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
        transition: 0.4s ease;
        height: 435.66px;
    }
    .photo-card:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    .card-body {
        text-align: justify;
        word-break: break-all;
    }
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
</style>
{% endblock %}
<!-- 스타일 블록 End -->

<!-- 콘텐츠 블록 Start -->
{% block content %}
<div style="padding:10px;">&nbsp</div>
<div id="main-content" class="container">
    <h3>Detail</h3>
    <div class="row">
        <div class="mb-5">
            <div class="d-block mt-3 mb-5">
                &nbsp&nbsp&nbsp&nbsp&nbsp<a href="{% url 'photo:index' %}" class="mb-3 btn btn-outline-dark"> {{ object }} </a>
                <p class="ml-5">{{ object.description }}</p>
                <div class="ml-5 row">   
                {% for photo in object.photo_set.all|slice:":6" %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card photo-card">
                            <a href="{{ photo.get_absolute_url }}">
                                <img src="{{ photo.image.thumb_url }}" alt="{{ photo }}" width="100%">
                            </a>
                            <div class="card-body">
                                <h6>{{ photo }}</h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- 콘텐츠 블록 End -->

<!-- 스크립트 블록 Start -->
{% block extra-script %}
{% endblock %}
<!-- 스크립트 블록 End -->