{% extends 'base.html' %}
{% load static %}

{% block title %}
My Blog Search Page
{% endblock %}

{% block extra-style %}
{% endblock %}

{% block content %}
<div id="main-content" class="container">
    <h3>Blog Search</h3>

    <form method="post"> {% csrf_token %}
        {{ form }} <br>
        <input type="submit" value="검색" class="btn btn-primary btn-sm">
    </form>
    {% if object_list %}
        {% for post in object_list %}
            <h3><a href='{{ post.get_absolute_url }}'>{{ post }}</a></h3>
            {{ post.modify_dt|date:"N d, Y" }}
            <p>{{ post.description }}
        {% endfor %}
    {% elif search_term %}
        {{ search_term }}를 찾을 수 없습니다.
    {% else %} 검색을 해보세요.
    {% endif %}


    {{ search_term }} <br>
    {{ object_list }}
</div>
{% endblock %}

{% block extra-script %}
{% endblock %}